.head_list {
  background-color: orange;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: rgb(48, 51, 51); 
  text-decoration: none; 
}
header ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
header li {
  list-style: none;
  margin-right: 40px;
}
.red{
  color: red;
}
.home_image{
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-image: url("images/image.007.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
}
.white_area{
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0px;
}


















.carousel__prev {
  position: absolute;
  top: 150px;
  left: 20px;
  cursor: pointer;
  color: lightgray;
}

.carousel__prev:hover {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.carousel__next {
  position: absolute;
  top: 150px;
  right: 20px;
  cursor: pointer;
  color: lightgray;
}

.carousel__next:hover {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.carousel {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.lazyloading{
  margin-top: 30px;
}
.form_back{
  background-color: burlywood;
  margin: 0 auto;
  width: 60%;
}